@import url("https://use.typekit.net/enf8bgm.css");

body{
	font-family: granville, serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fffded;
  color: #283D3B;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  color: #283D3B;
  font-family: granville, serif;
  font-weight: 700;
  line-height: 1.2;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.readOrHide {
  font-size: 16px;
  color: rgb(192,192,192);
  cursor: pointer;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form > *{
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 5px;
}

input[type="file"]::-webkit-file-upload-button{
  background-color: transparent; 
  font-family: granville, serif;
  margin-left: 0;
  border: none;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
  color: #fffded;
  background-color: #283D3B;
}


